h2 {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
}

#addBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
}

#totalSups {
  font-size: 12px;
  color: darkcyan;
  text-align: center;

}

.centerAlignText {
  text-align: center;
}

.tableWidth {
  width: 550px;
}

.centerAlignDiv {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1;
}

#paginationNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortIcon {
  margin-left: 10px;
  cursor: pointer;
}

th {
  background-color: #ecf0f1;
  white-space: nowrap;
}


tr:nth-child(even) {
  background-color: #ffffff;
}
