@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
/* Styling of a dirty form input fields*/
input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

.modal-title {
  padding-left: 10px;
}

div.validation-error {
  width: 100%;
  margin-top: .25em;
  font-size: 80%;
  color: #dc3545;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav a {
  text-transform: uppercase;
}

.dashIcon {
  font-size: 50px;
  color: #dc3545;
}

.totalDisplay {
  color: #dc3545;
}
