table {
  width: 80%;
}

.mat-form-field {
  font-size: 14px;
}

#filter {
  background-color: bisque;
}

#filterOptionsDiv {
  display: flex;
  align-items: center;
}

.customFilter {
  /*background-color: darkcyan;*/
  text-align: center;
}

.labelDiv {
  width: 60px;
}

.OptionSelection {
  margin-left: 20px;
  width: 200px;
}

#paginator {
  width: 80%;
}

#criteriaOptionsDiv {
  display: flex;
  align-items: center;
}

.CriteriaSelection {
  margin-left: 20px;
  width: 200px;
}

#valueOptionsDiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#valueInnerDiv {
  display: flex;
  align-items: center;
}
#customFilter {
  background-color: lightgray;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.valueSelection {
  margin-left: 20px;
  width: 200px;
}

#unFilterBtn {
  margin-left: 20px;
}
