.mainDiv {
  background-color: #ecf0f1;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

.mat-form-field {
  font-size: 14px;
}

#genfilter {
  width: 100%;
}

#filterOptionsDiv {
  display: flex;
  align-items: center;
}

#customFilter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 5px 1px 8px 5px #888888;
}


#leftBody {
  background-color: #d5dbdf;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}

#rightBody {
  background-color: #fff;
  color: #dc3545;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  width: 30%;
  padding: 10px;
}

#BtnDiv {
  display: flex;
  justify-content: center;
}

.filterBtns {
  width: 100px;
}

#phaseDiv {
  display: flex;
  align-items: center;
}

.phaseHeading {
  margin-left: 20px;
  width: 200px;
}

.labelDiv {
  width: 60px;
}

.OptionSelection {
  margin-left: 20px;
  width: 200px;
}

#paginator {
  width: 100%;
}

#criteriaOptionsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CriteriaSelection {
  margin-left: 20px;
  width: 200px;
}

#valueOptionsDiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#valueInnerDiv {
  display: flex;
  align-items: center;
}

#filterBtnDiv {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

#genFilterBtn {
  margin-right: 10px;
}



.valueSelection {
  margin-left: 20px;
  width: 200px;
}

#unFilterBtn {
  margin-left: 20px;
}

.resultsColor {
  color: #27ae60;
}
