.mainDiv {
  background-color: #ecf0f1;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

.mat-form-field {
  font-size: 14px;
}

#filter {
  background-color: bisque;
}

#filterOptionsDiv {
  display: flex;
  align-items: center;
}

.customFilter {
  /*background-color: darkcyan;*/
  text-align: center;
}

.labelDiv {
  width: 60px;
}

.OptionSelection {
  margin-left: 20px;
  width: 200px;
}

#paginator {
  width: 100%;
}

#criteriaOptionsDiv {
  display: flex;
  align-items: center;
}

.CriteriaSelection {
  margin-left: 20px;
  width: 200px;
}

#valueOptionsDiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#valueInnerDiv {
  display: flex;
  align-items: center;
}

#customFilter {
  background-color: #bdc3c7;
  border: 1px #dc3545 dashed;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.valueSelection {
  margin-left: 20px;
  width: 200px;
}

#unFilterBtn {
  margin-left: 20px;
}
