<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/products">Products</a>
      <a class="nav-item nav-link" routerLink="/suppliers">Suppliers</a>
      <a class="nav-item nav-link" routerLink="/categories">Categories</a>

    </div>
  </div>
</nav>

<div class="container-fluid centerAlignDiv">
  <div class="row">
    <div class="col-sm main">

      <h2 class="sub-header">Categories Table</h2>

      <!-- Add Category Button -->
      <div id="addBtnDiv">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryForm" routerLink="/category-add">Add Category</button>
      </div>



      <!-- Table -->
      <div class="table-responsive tableWidth">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <!-- Column Headings -->
            <th class="centerAlignText">#</th>
            <th>Category Name</th>

          </tr>
          </thead>
          <tbody>
          <!-- Table Rows -->
          <tr *ngFor="let category of categoriesService.list"> <!-- for each category in the categories table do the following -->
            <td class="centerAlignText" [routerLink]="['/categories', category.categoryId]">{{category.categoryId}}</td> <!-- load the category id in the ID column -->
            <td [routerLink]="['/categories', category.categoryName]">{{category.categoryName}}</td> <!-- load the category name in the category name column -->
            <td class="text-right" id="tableDataBtns">
              <div class="btn-group" role="group">
                <!-- Edit Button -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCategoryForm"
                        [routerLink]="['/category-edit', category.categoryId]"
                        (click)="categoriesService.populateForm(category)"><i class="far fa-edit"></i></button>
                <!-- Delete Button -->
                <button type="button" class="btn btn-danger" (click)="onDelete(category.categoryId)"><i class="far fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <nav aria-label="Table Navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>

