<!--Form that appears when the edit button or add Categories button is clicked-->
<div class="modal fade" id="addCategoryForm" tabindex="-1" (click)="categoriesService.populateForm(category)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/categories"><span aria-hidden="true">&times;</span></button>
        <!-- display the word "Edit" in the title if the name of th car is clicked otherwise display the word "Add" -->
        <h4 class="modal-title">{{category.categoryId ? 'Edit' : 'Add'}} Category</h4>
      </div>
      <div class="modal-body">
        <form #categoryForm="ngForm" (submit)="onSubmit(categoryForm)" autocomplete="off">
          <div class="form-group">
            <!-- Hidden input field for Category Id-->
            <label for="categoryId">Category ID</label>
            <input  class="form-control" id="categoryId" placeholder="Category Id"
                    name="categoryId" #categoryId="ngModel" [(ngModel)]="categoriesService.formData.categoryId" >
            <!-- Category Name Input Field-->
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Category Name"
                   name="categoryName" #categoryName="ngModel" [(ngModel)]="categoriesService.formData.categoryName"  required >
            <!-- Validation Div -->
            <div class="validation-error" *ngIf="categoryName.invalid && categoryName.touched"> This field is required. </div>
          </div>
          <!-- Submit Button -->
          <button type="button" class="btn btn-success" [disabled]="categoryForm.invalid" data-dismiss="modal" routerLink="/categories" (click)="onSubmit(categoryForm)" >Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" routerLink="/categories">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
