<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Products</a>
      <a class="nav-item nav-link" href="#">Suppliers</a>
      <a class="nav-item nav-link" href="#">Categories</a>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm main">

      <h2 class="sub-header">Products Table</h2>

      <div id="addBtnDiv">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductForm">Add Product</button>
      </div>

      <!-- Alerts -->
      <div class="alert-group">
        <div class="alert alert-success " role="alert">...</div>
        <div class="alert alert-info d-none" role="alert">...</div>
        <div class="alert alert-warning d-none" role="alert">...</div>
        <div class="alert alert-danger d-none" role="alert">...</div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <!-- Column Headings -->
            <th class="centerAlignText">#</th>
            <th>Product Name</th>
            <th class="centerAlignText">Category</th>
            <th class="centerAlignText">Full Price</th>
            <th class="centerAlignText">Sale Price</th>
            <th class="centerAlignText">Available</th>
            <th>Supplier</th>
          </tr>
          </thead>
          <tbody>
          <!-- Table Rows -->
          <tr *ngFor="let product of products"> <!-- for each product in the products table do the following -->
            <td class="centerAlignText" [routerLink]="['/products', product.productId]">{{product.productId}}</td> <!-- load the product id in the ID column -->
            <td [routerLink]="['/products', product.productName]">{{product.productName}}</td> <!-- load the product name in the product name column -->
            <td class="centerAlignText" [routerLink]="['/products', product.category]">{{product.category.categoryName}}</td> <!-- load the product category name in the category column -->
            <td class="centerAlignText" [routerLink]="['/products', product.fullPrice]">${{product.fullPrice}}</td> <!-- load the products full price in the full price column -->
            <td class="centerAlignText" [routerLink]="['/products', product.salePrice]">${{product.salePrice}}</td> <!-- load the products sale price in the sale price column -->
            <td class="centerAlignText" [routerLink]="['/products', product.availability]">{{product.availability}}</td> <!-- load the products availability status in the availablecolumn -->
            <td [routerLink]="['/products', product.supplier]">{{product.supplier.supplierName}}</td> <!-- load the product supplier name in the supplier column -->
            <td class="text-right" id="tableDataBtns">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <nav aria-label="Table Navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Add Product Form -->
  <div class="modal fade" id="addProductForm" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a Product</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" placeholder="Product Name">
            </div>
            <div class="form-group">
              <label for="productCategory">Product Category</label>
              <select class="form-control" id="productCategory">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="productSupplier">Product Supplier</label>
              <input type="text" class="form-control" id="productSupplier" placeholder="Supplier">
            </div>
            <div class="form-group">
              <label for="productPrice">Price</label>
              <input type="number" id="productPrice">
            </div>
            <div class="form-group">
              <label for="productSalePrice">Sale Price</label>
              <input type="number" id="productSalePrice">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Available
              </label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
